#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h3{
  color: white;
}
h5{
  color: white;
}
#section-2{
  display: flex;
  flex-direction: column;
background-color: red;
}
#Avatar-div{
  position: relative;
  width: 400px;
}
#avatar{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: -3%;
  margin-left: 45%;
  background-color: black;

}
#name-salutation{
  margin-top: 5%;
}
#contact-icons{
  display: flex;
  justify-content: center;
  gap: 2%;
}
.contact-icon{
  background-color: white;
  border-radius: 100%;
  
}
img {
  width: 60%; 
  height: 60%; 
  object-fit: contain;
}

