#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h3{
  color: white;
}
h5{
  margin-top: none;
  padding-top: none;
  color: white;
}

#top-image{
  background-image: url("./assets/chungwa.jpg");
  background-position: center;
  background-size:cover;
  height: 13rem;
}
#section-2{
  display: flex;
  flex-direction: column;
background-color: rgba(190, 0, 0, 1);
width: 100%;
}
#Avatar-div{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
#avatar{
  
  margin-top: -6%;
  width: 70px;
  height: 70px;
  border-radius:50%;
  background-image: url("./assets/happyWoman.jpg");
  background-size: cover;

}
#name-salutation{
  margin-top: 5%;
}
#contact-icons{
  display: flex;
  justify-content:center;
  gap: 2%;
}
.contact-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
img {
  width: 60%; 
  height: 60%; 
  object-fit: contain;
}
.contact-information{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 4%;
  
  align-self: center;
  margin-top: 2%;
background-color: rgb(255, 255, 255);
width: 85%;
height: fit-content;
border-radius: 10px;

}
.contact-information-image{
  height: 30px;
  width: 30px;
}
.contact-information-txt{
  margin-top: 4%;
  margin-left: 8%;
  width: 100%;
  font-size: 1.2em;
  font-weight:400;
  color:rgb(173, 0, 35);
}
.contact-information-tile{
  display: flex;
  align-content: start;
  align-items: start;
  justify-content: start;
  
}
p{
  text-align: start;
  margin-top: auto;
  color: black;
}
.txt-content{
  width: 90%;
  margin-top: auto;
   border: solid;
   border-width: 1px;
   padding-bottom: 5px;
   border-color: gray;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}
.txt-content-title{
  color: gray;
  font-size: 0.8em;
}
hr{
  margin-left: 2%;
    height: 2px;
    border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
    width: 100%;
}